@import "_variables";


header {

   // padding: 1rem 0.3rem;
   background-color: $bg_navbar;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   box-shadow: 0 3px 5px $box_shadow;
   width: 100%;



.logo {
   margin: 1rem;
   font-size: 1.5em;
   font-weight: 500;
   color: $text;
   text-transform: uppercase;
   transition: opacity 200ms ease;
   cursor: pointer;
   white-space: wrap;
   z-index: 1000;
}

.toggle-button {

   position: absolute;
   top: 1rem;
   right: 1rem;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 30px;
   height: 26px;
   z-index: 1000;
   .line1 {
      position: absolute;
      top: 0px;
      transition: 0.25s ease-in-out;
   }
   .line2 {
      position: absolute;
      top: 10px;
      transition: 0.25s ease-in-out;
   }
   .line3 {
      position: absolute;
      top: 20px;
      transition: 0.25s ease-in-out;
      
   }

   .bar {
      width: 100%;
      height: 3px;
      border-radius: .4em;
      background-color: $text;
   }
   
}

.navbar { 

   min-width: 10%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   
   .navbar__links { 

      min-width: 100%;

      .navbar__links-list{
         display: flex;
         z-index: 99;
      }
      
      a {
         display: block;
         padding: 1.5rem;
         color: $text;
         transition: color 200ms ease, background-color 200ms ease-out;
            &:hover{
               color: $text_hover;
               background-color: $button_hover_bg;
               transition: .25s ease-in;
            }
      }   
   }

      
   }
}


@media (max-width: 768px) {

   header {
      
      
   .toggle-button {
      display: flex;
      cursor: pointer;

      
   }
   .toggle-button.active{
      .line1 {
         top: 10px;
         transform: rotate(45deg);
         transition: 0.25s ease-in-out;
      }
      .line2 {
         opacity: 0;
         transform: translateX(-60%);
         transition: all 0.2s ease-in-out;
      }
      .line3 {
         top: 10px;
         transform: rotate(-45deg);
         transition: 0.25s ease-in-out;
      }
   }
   
   .navbar {
      width: 100%;
      display: flex;
      
      
      
      
      &.active {
         display: block;
      }
   
      .navbar__links {
         
         .navbar__links-list {
            background-color: $bg_navbar;
            width: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            transform: translateY(-150%);
            transition: transform .5s ease;

            & a {
               opacity: 0;
            }
         }

         .navbar__links-list.active {
            background-color: $bg_navbar;
            width: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
            transform: translateY(0);
            box-shadow: 0 0 1px white;
            transition: transform .7s ease, box-shadow 1s ease;
               & a {
                  opacity: 1;
                  transition: opacity 2s ease;
               }
               & li {
                  width: 100%;
                  text-align: center;
               }
         }
      }
   }
}
}