@import "_nullstyle";
@import "_header";
@import "_variables";
@import "_notifications";


html, body {
   overflow: hidden;
   background-color: $bg_body;
   // background-color: hsl(47, 59%, 41%);
   font-family: 'Montserrat', Arial, sans-serif;
   font-size: 16px;
   position: relative;
}

.content{
   min-width: 100vw;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   color: $text;
}
.pg-container {
   background-color: $bg_navbar;
   width: 350px;
   padding: 1.5rem;
   // border-radius: 0.4rem;
   box-shadow: 0 0 7px $box_shadow_pg;
   
}
.pg-output {
   font-size: 1.5rem;
   display: flex;
   flex-flow: row nowrap;
   position: relative;
   align-items: center;
   margin: 0 auto;
   background-color: $bg_pass_fields;
   padding: 0.4rem;
   box-shadow: 0 0 5px $box_shadow_pg;
   // border-radius: 0.2rem;


}
.pg-password {
   position: relative;
   height: 1.5rem;
   line-height: 1.5rem; 
}
.pg-output--copyBtn {
   position: absolute;
   right: 10px;
   top: 50% - height;
   width: 20px;
   height: 60%;
   overflow: hidden;
   background-color:$text_hover;
   cursor: pointer;
   border-radius: 0.2rem;
   &:active {
      background-color: hsl(214, 83%, 82%);
      transform: scale(90%);
   }
   & img {
      width: 100%;
      height: 100%;
      padding: 0.1rem;
   }

}

.pg-body {
   margin: 1rem 0 0 0;
   
   padding: 0;
   
}
.form-control {
   display: flex;
   justify-content: space-between;
   padding: 0.3rem .1rem;
   & input[type="number"] {
      width: 3em;
      color: $text;
      background-color:$bg_pass_fields;
      padding: 2px;
   }
   & input[type="checkbox"] {
      cursor: pointer;
   }
}

.pg-generate {
   margin: 0.8rem 0 0 0;
   width: 100%;
   display: flex;
   justify-content: center;
   
}
.generate-btn {
   min-width: 100%;
   letter-spacing: 0;
   padding: 0.6rem 1.5rem;
   // border-radius: 0.2rem;
   color: $text;
   background-color: $bg_pass_fields;
   box-shadow: 0 0 5px $box_shadow_pg;

   cursor: pointer;
   &:hover {
      background-color: $button_hover_bg;
      color: $text_hover;
   }
   transition: .15s ease-in;
   &:active {
      transform: scale(95%);
   }
}