/* NULL STYLE*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ------------------------------ */
header {
  background-color: #3B3B98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 3px 5px #2d64a3;
          box-shadow: 0 3px 5px #2d64a3;
  width: 100%;
}

header .logo {
  margin: 1rem;
  font-size: 1.5em;
  font-weight: 500;
  color: #e2e2e2;
  text-transform: uppercase;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  cursor: pointer;
  white-space: wrap;
  z-index: 1000;
}

header .toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 26px;
  z-index: 1000;
}

header .toggle-button .line1 {
  position: absolute;
  top: 0px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

header .toggle-button .line2 {
  position: absolute;
  top: 10px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

header .toggle-button .line3 {
  position: absolute;
  top: 20px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

header .toggle-button .bar {
  width: 100%;
  height: 3px;
  border-radius: .4em;
  background-color: #e2e2e2;
}

header .navbar {
  min-width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .navbar__links {
  min-width: 100%;
}

header .navbar .navbar__links .navbar__links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
}

header .navbar .navbar__links a {
  display: block;
  padding: 1.5rem;
  color: #e2e2e2;
  -webkit-transition: color 200ms ease, background-color 200ms ease-out;
  transition: color 200ms ease, background-color 200ms ease-out;
}

header .navbar .navbar__links a:hover {
  color: #4d93ee;
  background-color: #3B3B98;
  -webkit-transition: .25s ease-in;
  transition: .25s ease-in;
}

@media (max-width: 768px) {
  header .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  header .toggle-button.active .line1 {
    top: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  header .toggle-button.active .line2 {
    opacity: 0;
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  header .toggle-button.active .line3 {
    top: 10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  header .navbar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .navbar.active {
    display: block;
  }
  header .navbar .navbar__links .navbar__links-list {
    background-color: #3B3B98;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
  }
  header .navbar .navbar__links .navbar__links-list a {
    opacity: 0;
  }
  header .navbar .navbar__links .navbar__links-list.active {
    background-color: #4d93ee;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 0 0 1px white;
            box-shadow: 0 0 1px white;
    -webkit-transition: -webkit-transform .7s ease, -webkit-box-shadow 1s ease;
    transition: -webkit-transform .7s ease, -webkit-box-shadow 1s ease;
    transition: transform .7s ease, box-shadow 1s ease;
    transition: transform .7s ease, box-shadow 1s ease, -webkit-transform .7s ease, -webkit-box-shadow 1s ease;
  }
  header .navbar .navbar__links .navbar__links-list.active a {
    opacity: 1;
    -webkit-transition: opacity 2s ease;
    transition: opacity 2s ease;
  }
  header .navbar .navbar__links .navbar__links-list.active li {
    width: 100%;
    text-align: center;
  }
}

html, body {
  overflow: hidden;
  background-color: #c2c2ff;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
}

.content {
  min-width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e2e2e2;
}

.pg-container {
  background-color: #3B3B98;
  width: 350px;
  padding: 1.5rem;
  -webkit-box-shadow: 0 0 7px #2d64a3;
          box-shadow: 0 0 7px #2d64a3;
}

.pg-output {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-color: #202052;
  padding: 0.4rem;
  -webkit-box-shadow: 0 0 5px #4d93ee;
          box-shadow: 0 0 5px #4d93ee;
}

.pg-password {
  position: relative;
}

.pg-output--copyBtn {
  position: absolute;
  right: 10px;
  top: 50%-height;
  width: 20px;
  height: 60%;
  overflow: hidden;
  background-color: #4d93ee;
  cursor: pointer;
  border-radius: 0.2rem;
}

.pg-output--copyBtn img {
  width: 100%;
  height: 100%;
  padding: 0.1rem;
}

.pg-body {
  margin: 1rem 0 0 0;
  padding: 0;
}

.form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.3rem .1rem;
}

.form-control input[type="number"] {
  width: 3em;
  color: #e2e2e2;
  background-color: #202052;
  padding: 2px;
}

.form-control input[type="checkbox"] {
  cursor: pointer;
}

.pg-generate {
  margin: 0.8rem 0 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.generate-btn {
  min-width: 100%;
  letter-spacing: 0;
  padding: 0.6rem 1.5rem;
  color: #e2e2e2;
  background-color: #202052;
  -webkit-box-shadow: 0 0 5px #4d93ee;
          box-shadow: 0 0 5px #4d93ee;
  cursor: pointer;
}

.generate-btn:active {
  -webkit-transform: scale(95%);
          transform: scale(95%);
}
